In [1]:
import pandas as pd
#import mxnet as mx

In [2]:
# read-in CSVs
df15 = pd.read_csv("/Users/jonasmiosga/Desktop/kicktipp_odds/2015_16.csv", encoding = 'utf-8')
df16 = pd.read_csv("/Users/jonasmiosga/Desktop/kicktipp_odds/2016_17.csv", encoding = 'utf-8')
df17 = pd.read_csv("/Users/jonasmiosga/Desktop/kicktipp_odds/2017_18.csv", encoding = 'utf-8')
df18 = pd.read_csv("/Users/jonasmiosga/Desktop/kicktipp_odds/2018_19.csv", encoding = 'utf-8')
df19 = pd.read_csv("/Users/jonasmiosga/Desktop/kicktipp_odds/2019_20.csv", encoding = 'utf-8')
df20 = pd.read_csv("/Users/jonasmiosga/Desktop/kicktipp_odds/2020_21.csv", encoding = 'utf-8')

In [3]:
# find common columns
col_list = list(set(list(df15)).intersection(list(df16)).intersection(list(df17)).intersection(list(df18)).intersection(list(df19)).intersection(list(df20)))

In [4]:
# read-in CSVs but only with the columns all frames share
df15 = pd.read_csv("/Users/jonasmiosga/Desktop/kicktipp_odds/2015_16.csv", encoding = 'utf-8', usecols = col_list)
df16 = pd.read_csv("/Users/jonasmiosga/Desktop/kicktipp_odds/2016_17.csv", encoding = 'utf-8', usecols = col_list)
df17 = pd.read_csv("/Users/jonasmiosga/Desktop/kicktipp_odds/2017_18.csv", encoding = 'utf-8', usecols = col_list)
df18 = pd.read_csv("/Users/jonasmiosga/Desktop/kicktipp_odds/2018_19.csv", encoding = 'utf-8', usecols = col_list)
df19 = pd.read_csv("/Users/jonasmiosga/Desktop/kicktipp_odds/2019_20.csv", encoding = 'utf-8', usecols = col_list)
df20 = pd.read_csv("/Users/jonasmiosga/Desktop/kicktipp_odds/2020_21.csv", encoding = 'utf-8', usecols = col_list)

In [5]:
# concatenate tables
df = pd.concat([df15,df16,df17,df18,df19,df20])

In [7]:
# save current dataframe
df.to_csv("/Users/jonasmiosga/Desktop/kicktipp_odds/df.csv",index = False)

In [11]:
# construct model

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA
0,D1,14/08/15,Bayern Munich,Hamburg,5,0,H,1,0,H,...,35.46,1.08,10.0,26.0,1.10,12.0,31.00,1.10,12.57,30.92
1,D1,15/08/15,Augsburg,Hertha,0,1,A,0,0,D,...,4.20,2.10,3.3,3.5,2.05,3.4,4.10,2.13,3.43,3.87
2,D1,15/08/15,Darmstadt,Hannover,2,2,D,1,0,H,...,3.02,2.50,3.2,2.9,2.55,3.4,3.00,2.70,3.28,2.90
3,D1,15/08/15,Dortmund,M'gladbach,4,0,H,3,0,H,...,5.21,1.75,3.5,5.0,1.75,4.0,5.00,1.63,4.24,5.85
4,D1,15/08/15,Leverkusen,Hoffenheim,2,1,H,1,1,D,...,6.76,1.53,4.0,6.5,1.55,4.6,6.25,1.48,4.84,7.28

In [12]:
# test model: the model's performance is more important for the newer seasons

1              Augsburg
1              Augsburg
1               Hamburg
1    Fortuna Dusseldorf
1              Dortmund
1         Ein Frankfurt
Name: HomeTeam, dtype: object